
/* Background image code*/
html {min-height: 100%;
     background-image: url(https://images.unsplash.com/photo-1529528744093-6f8abeee511d?auto=format&fit=crop&q=60&w=800&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mzh8fG5hdHVyZSUyMHdhbGxwYXBlcnN8ZW58MHx8MHx8fDA%3D);
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
    background-attachment: fixed;}

/* Navigation bar code*/
.navbar {
    background-color: #F8EADE;
    overflow: hidden;
    justify-content: space-between;
    display: flex;
    align-items: center;
    
  }
.navbar a {color: #9E5346;
    text-align: center;
    padding: 1px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: century gothic;
    
}
.navbar a.split {
    background-color: #9E5346;
    color: #F8EADE;
    font-family: consolas;
    margin-left: auto;
  }

.h1color {color: #F8EADE; 
}

/*subheading*/
h2 {font-family: consolas;
    color: #9E5346;
    }

/*Home*/
.index {background-color: rgba(248, 234, 222, .7);
    display:grid;
    margin-right: 0;
    grid-template-rows: 15% 30% 30%;
    grid-template-columns: 50% 50% ;
    margin-top: 3%;
    grid-gap: 0 2em;
   
}

.mother {text-align: center;
    grid-row: 1;
    grid-column: span 2 }

.briefintro {font-family: century gothic;
    font-size: medium;
    text-align:center;
    grid-column: 1;
    grid-row: 2}

.blockquote { grid-column: 1;
    grid-row: 3;
    font-family: century gothic;
    font-size: large;
    text-align:center;
    }

footer {vertical-align: middle;
text-align: center;}

.headshot {border: 2px solid #9E5346;
    width: 200px;
    padding: 5px;
    margin-top: 3%;
    margin-left: 3em;
    margin-top: 3em;
}
.headshotpt2 {grid-column: 2;
    grid-row: 2 / 3;}
/*about me page*/
.aboutme {background-color: rgba(248, 234, 222, .7);
    padding: 12px;
    width: 65%;
    margin-top: 3%;
    font-family: century gothic;
    font-size: small;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.about {font-family: consolas;
    color: #9E5346;
    }

    /* Portfolio*/
.h2p {background-color: rgba(248, 234, 222, .7);
       text-align: left;
    padding: 5px;
    border-bottom:#9E5346;
    border-style: double;}

.projectpic {width: 200px;
vertical-align: middle;}

.portheader {text-align: left;
    background-color: rgba(248, 234, 222, .7);
    width: 70%;
    padding: 5px;
    color: #9E5346;
    font-style: consolas;}

/* Contact Me Page*/

.form-container {
    background-color: rgba(248, 234, 222, .7);
    padding: 20px;
    text-align: center;
    z-index: 2;
    margin-top: 3%;
}

/*Thanks Page*/
.thanks {background-color: rgba(248, 234, 222, .7) ;
    color: #9E5346; 
text-align: center;
padding: auto;}

/*Media Queries*/
/* I listed the most common screen resolutions*/

@media (max-width: 480px) {}

@media (max-width: 640px) {}

@media (max-width: 768px) {}

@media (max-width: 1024px) {}

@media (max-width: 1200px) {}

